body {
    text-align: center;
    font: 20px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #A8CD9F;
    color: #1B4242;
    display: grid;
    place-items: center;
    height: 10vh;
    overflow: hidden;
}

#btn {
    background-color: #58A399;
    color: #1B4242;
    font: bold 15px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    margin: 20px;
}

#btn:hover {
    background-color: #04AA6D;
}

#imgContainer {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

#imgContainer img {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px;
}

#textContainer {
    margin: 15px;
}